{% assign is_en = page.url contains '/en/' %}
<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
{% if is_en %}
  <link rel="alternate" hreflang="en" href="{{ site.url }}{{ page.url }}" />
  <link rel="alternate" hreflang="de" href="{{ site.url }}{{ page.url | replace_first: '/en', '' }}" />
  <link rel="alternate" hreflang="x-default" href="{{ site.url }}{{ page.url | replace_first: '/en', '' }}" />
{% else %}
  <link rel="alternate" hreflang="de" href="{{ site.url }}{{ page.url }}" />
  <link rel="alternate" hreflang="en" href="{{ site.url }}/en{{ page.url }}" />
  <link rel="alternate" hreflang="x-default" href="{{ site.url }}{{ page.url }}" />
{% endif %}
