#snakeBtn, #snakeBtn:hover, #snakeBtn:focus {
  background: transparent !important;
}
#snakeBtn .menu-logo, #snakeBtn video {
  background: transparent !important;
}
.menu-logo {
  width: 50px;
  height: 50px;
  object-fit: cover;   /* sorgt dafür, dass das Video randlos gefüllt wird */
  display: block;
  border-radius: 0;    /* keine runden Ecken */
  background: transparent;
}
